.container{
    width: 100%;
    height: 700px;
}

.header {
    height: 20%;
    background-color: saddlebrown;
    text-align: center;
    position:relative;
}

#temp, #humidity-div,#feel,#min,#max,#cloud,#wind {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 20px;
    position: absolute;
     top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.city-icon-holder {
    position:absolute;
    left: 25%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#city-name {
    font-family: "Courier New";
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}


#icon {
    width:60%;
}

#main{
    width: 100%;
    height:100%;
    position: relative;
    background-color: dimgray;
}

.city-icon {
    height: 50%;
    width: 50%;
 background-color: black;
}

.temperature {
    position: absolute;
    left: 70%;
    top:0%;
    height: 10%;
    width: 10%;
}
.feels{
    height: 10%;
    width: 10%;
   position: absolute;
    left: 70%;
    top:10%;
}
   .tmin{
             height: 10%;
             width: 10%;
             position:absolute;
             left:70%;
             top:20%;
         }
.tmax{
    height: 10%;
    width: 10%;
    position:absolute;
    left:70%;
    top:30%;
}
.clouds{
    height: 10%;
    width: 10%;
    position:absolute;
    left:70%;
    top:40%;
}
.windy{
    height: 10%;
    width: 10%;
    position:absolute;
    left:70%;
    top:50%;
}
.humidity {
    height: 10%;
    width: 10%;
    position:absolute;
    left:70%;
    top:60%;
}

#search-btn {
    width: 40px;
    height:40px;
    color: #eee;
}

#search-txt {
    color: red;
    height:30px;
    border-radius: 10px;
    border-style:none;
    outline:none;
    padding-right:1px;
    padding-left:1px;
    text-align:center;
}

.search {
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}